.reader-container {
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #444;
  text-align: center;
}

#word-reader {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

#word-focus {
  color: red;
  padding: 0;
  display: inline-block;
}

#word-left {
  display: inline-block;
}
