<h1>Reader</h1>
<div id="word-reader-start" class="reader-container">
  Click 'Read' to start
</div>
<div class="reader-container" ng-hide="{{active}}">
  <div id="word-reader"><span id="word-left">{{wordLeft}}</span><span id="word-focus">{{wordFocus}}</span>{{wordRight}}</div>
</div>
<textarea ng-model="sourceText"></textarea>
<button class="btn" ng-click="read()">Read</button>
<button class="btn" ng-click="stop()">Stop</button>
<select ng-model="readRate">
  <option>700</option>
  <option>600</option>
  <option>500</option>
  <option>400</option>
  <option>300</option>
</select>

